<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible"content="ie=edge">
  <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="static/semantic/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="static/semantic/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="static/d3/d3-context-menu.css">
  <link rel="stylesheet" type="text/css" href="static/rainbow/github.css">
  <link rel="stylesheet" type="text/css" href="static/common.css">
  <link rel="stylesheet" type="text/css" href="static/dataVis.css">
  <link rel="stylesheet" type="text/css" href="static/arrows.css">
  <link rel="stylesheet" type="text/css" href="static/toast.css">
  <link rel="stylesheet" type="text/css" href="static/dagre-d3/demo/tipsy.css">
  <!-- <link rel="stylesheet" type="text/css" href="static/vis.css"> -->
  <!-- <link rel="icon" href="static/images/CU_short_logo.png"> -->
  <link rel="stylesheet" type="text/css" href="static/dag.css">
  <title>Grasper Demo</title>
</head>
<body>



<div id="side" class="ui left vertical inverted sidebar labeled orange icon menu visible">
  <!-- <a class="item" id='aboutOpen'>
    <i class="info circle icon"></i>
    About
  </a> -->

  <a class="item" href="https://yaobaiwei.github.io/papers/grasper_socc19.pdf" target="_blank">
    <i class="file outline icon"></i>
    Paper
  </a>
  <a class="item" id='homerOpen'>
    <i class="info icon" ></i>
    About
  </a>

  <a class="item">
    <i class="users icon" id="teamOpen"></i>
    Team
  </a>

  <a class="item" id='compareOpen'>
    <i class="balance scale icon"></i>
    Comparison
  </a>
  <!-- <a class="item" id='teamOpen'>
    <i class="users icon"></i>
    Team
  </a> -->
</div>

<div id="main-page">
  <div id="main-grid">
    <div id="content" class="block">

      <div class="ui attached segment" id="console" style=" height: 100%;">
        <div class="ui grid" id="visualConsole" group="visual">
                        <div id="queryMaster">

                          <div class="ui top attached tabular menu">
                              <div class="active item">Current Running Query</div>
                          </div>

                          <div class="ui attached segment" >
                            <B>Original Query:</B>
                            <div  id="originalQuery" style="overflow: auto;padding-left: 30px;height: 60px;"></div>
                          </div>

                          <div class="ui bottom attached active tab segment" style="display: flex; height: 86%;">
                            
                            <div class="live map" style="height:80%;">
                              <svg style="height:540px;width:490px" id="innerSVG">   </svg>
                            </div>
                          </div>
                        </div>

                        <div  style="width:40%;height: 100%;">
                          <div class="ui top attached tabular menu">
                            <div class="active item">Output Console</div>
                          </div>

                          <div class="ui bottom attached segment" >
                            <div class="active item" id="logMaster">
                              <p id="consoleLog" style="white-space: nowrap;"></p>
                              <div id="logEnd"></div>
                            </div>
                          </div>
                        </div>


<!--                          <div id="toast"><div id="desc">Cannot remove the seed vertex.</div></div>-->
        </div>

        <div  id="stdConsole" group="std">
          
          <div id="throughputView" >
            <div class="ui attached segment">
              <B>Current Running Query for Throughput Testing：</B>
            </div>
            
            <!-- <div class="ui attached segment">
              <B>Average Latency：</B>
            </div> -->

            <div class="ui attached segment" id="throughoutChart" style="height:100%;">
              <div id="throughChart" style="height: 580px; width: 800px;"></div>
            </div>
          </div>

        </div>
      </div>
      <!-- console fini -->





    </div>

            <div id="graph-col" >

              <div id="footer">
                <img id="img1" src="static/images/grasper_test.png">
                <img id="img2" src="static/images/CU_short_logo.png">
              </div>

              <div id="queues" class="block">
                <div style="width: 100%; height: 50%;">
                  <div class="ui top attached tabular menu">
                    <div class="active item" style="display: flex;">Current Settings</div>
                  </div>

                  <div class="ui bottom attached segment" >
                    <div class="active item" id="settingShower">
                      <em><B>Dataset:&nbsp&nbsp</B>LDBC-36G</em><br>
                      <em><B>Using RDMA: &nbsp&nbsp</B></em>Yes<br>
                      <em><B>Using Core Binding: &nbsp&nbsp</B></em>Yes<br>
                      <em><B>Using Job Stealing: &nbsp&nbsp</B></em>Yes<br>
                      <em><B>Number of Workers:&nbsp&nbsp</B></em>8<br>
                      <em><B>Number of Threads per Worker:&nbsp&nbsp</B></em>20<br>
                      <em><B>Using Indexing: &nbsp&nbsp</B></em>Yes<br>
                      <em><B>Using Expert Division: &nbsp&nbsp</B></em>Yes
                      
                    </div>
              </div>

              <div>
                <div class="ui top attached two item menu" id='contentMenu'>
                  <a class="active item" group="visual">
                    Single
                  </a>
                  <a class="item" group="std">
                    Throughput
                  </a>
                </div>
                <div class="ui attached segment" id="console" style="height: 120px;">
                  <div  group="visual">
                    <B>Choose a query to start :</B>
                    <div class="ui fluid search selection dropdown" id="dropdown">
                      <input type="hidden" name="queryString" id="queryContent">
                      <i class="dropdown icon"></i>
                      <div class="default text">Select Query</div>
                      <div class="menu">
                        <div class="item" data-value="1">Q1</div>
                        <div class="item" data-value="2">Q2</div>
                        <div class="item" data-value="3">Q3</div>
                      </div>
                    </div>
                    <div style="text-align: center; margin-top: 4px;">
                      <button class="ui positive button" id="singleQStart">Start</button>
                    </div>
                  </div>
  
                  <div group="std" style="height: 100%;width: 100%;">
                    <div>
                      <B>Click the button to start using this dataset<a id="showDataset"><i class="question circle icon" ></i></a>: </B>
                      <div calss="ui attached segment" style="text-align: center;padding-top: 20px;">
                        <button class="ui large positive button" id="throughputStart">Start</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
                

              </div>

              </div>

              

              </div>
              <div id="timeline" class="block">
                <div id="chartView"></div>
              </div>
</div>
</div>
</div>



  <div class='ui modal' id='homerModal'>
  <i class="close icon"></i>
  <div class='header'>About</div>
  <div class='content'>
    <div id="description">
    <div class="leading">
      <p>Grasper is A High Performance Distributed System for OLAP on Property Graphs</p>
    </div>
    <div class="content">
      <p style="text-align:justify; margin-top: 1.2rem;">
        Graph analytics has a broad spectrum of applications in both academia and industry. However, processing online graph analytical queries (or OLAP) remains to be challenging since it has much stricter requirements on both latency and throughput. Existing systems suffer from various performance problems due to the key challenging factors as follows:<br>
        &diams; <B>Diverse query complexity:</B> online analytical queries may differ signifcantly in their workloads (e.g., from a simple property check on a vertex to complicated pattern matching), and thus a mechanism is needed to support high parallelism and load balancing for heavy-workload queries, while at the same time preventing the starvation of light workload queries.<br>
        &diams;<B>Diverse data access patterns:</B> query operators (e.g., flter, traversal, count) often have diverse access patterns on data and hence require different optimizations (e.g., cache, index), which makes it challenging to design a unifed computational model that optimizes the execution of different query operators.<br>
        &diams;<B>High communication and CPU  costs:</B> a query may have complex execution logics such as graph traversals that access a large portion of a PG, aggregation that collects intermediate results to one place through network, and joins that are CPU- and data-intensive. Such complex logics often result in high overheads on both communication and computation.<br>
            We propose Grasper, a distributed system designed to address the aforementioned challenges of processing online analytical queries on PGs. Grasper adopts Remote Direct Memory Access (RDMA) to reduce the high network communication cost for distributed query processing and introduces an RDMA-enabled native PG storage to exploit the benefts of RDMA. The key design of Grasper is a novel query execution model, called Expert Model, which achieves high utilization of CPU and network resources to maximize the processing effciency. There are three core benefts brought by Expert Model:<br>
            &diams;It allows Grasper to support high concurrency in processing multiple queries and <B>adaptive parallelism control</B> within each query according to its workload.<br>
            &diams;It enables <B>tailored optimizations</B> for different categories of query operations based on their own data access patterns.<br>
            &diams;Underlying system optimizations such as <B>memory locality</B> and <B>thread-level load balancing</B> are also incorporated into the design, which are critical for achieving millisecond latency for processing complex analytical queries.<br>
          
      </p>
      <p>For more details, please refer to our <a href="https://github.com/yaobaiwei/Grasper" target="_blank">github project</a>.</p>
    </div>
    </div>
  </div>
  </div>

  <div class='ui modal' id='datasetModal'>
    <i class="close icon"></i>
    <div class='header'>Description of the Dataset Used for Throughput Testing</div>
    <div class='content'>
      <div id="description">
      <div class="leading">
        <p></p>
      </div>
       Place Holder
      <div class="content">
        
        </p>
      </div>
      </div>
    </div>
    </div>

  <div class='ui modal' id='teamModal'>
    <i class="close icon"></i>
    <div class="header">
      <span style="font-size: 1.8rem;">Team</span>
      <img src="{{ url_for('static',filename='./images/CU_long_logo.jpg') }}" style="float:right; height: 2.5rem;">
    </div>
    <div class='content'>
      <table border="0">
        {% for row in supervisors %}
        <tr>
          {% for person in row %}
          <td valign="top">
            <div style="float:left; margin-right: 1rem">
              <img src="{{ url_for('static',filename='./images/{}'.format(person['img'])) }}" width="128" height="171">
            </div>
            <p>
              <span class="personName">{{ person['name'] }}</span>
              <span>{{ person['info'] }}</span>
              <br>
              <span>{{ person['other'] }}</span>
            </p>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" style='border-style: solid; border-width:1px 0 0 0; border-color:darkgray;' colspan="2">
          </td>
        </tr>
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        {% for row in teammembers %}
        <tr>
          {% for person in row %}
          <td valign="top" >
            <div style="float:left; margin-right: 1rem">
              <img src="{{ url_for('static',filename='./images/{}'.format(person['img'])) }}" width="128" height="171">
            </div>
            <p>
              <span class="personName">{{ person['name'] }}</span>
              <span>{{ person['info'] }}</span>
            </p>
          </td>
          {% endfor %}
        </tr>
        {% if loop.index != loop.length %}
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        {% endif %}
        {% endfor %}
      </div>
  </div>

  <div class='ui modal' id='compareModal'>
    <i class="close icon"></i>
    <div class="header">Comparison</div>
    {% for image in slideimages %}
    <div class="compare-item content" style="display: none;">
      <div id="description">
      <div class="leading">
      <p style="margin-bottom: 1.5rem;"> Page {{ loop.index }}/{{ loop.length }} </p>
      </div>
      </div>
      <div class="image">
        <img src="{{ url_for('static', filename='images/{}.png'.format(image['slide'])) }}" alt="loading..." {% if loop.index==6 %}height="400"{% endif %}>
      </div>
      <div id="description">
      <div class='content'>
      <p style="margin-top: 2.0rem;"> {{ image['description'] }} </p>
      </div>
      </div>
    </div>
    {% endfor %}
    <div class="actions">
      <div class="ui primary button" id="prev">
        Prev
        <i class="left chevron icon"></i>
      </div>
      <div class="ui primary button" id="next">
        Next
        <i class="right chevron icon"></i>
      </div>
    </div>
  </div>

  </div>

    <!-- <div class='ui modal' id='teamModal'>
      <i class="close icon"></i>
      <div class="content">
        <p>
        Sorry, because of <b>inevitable network delay</b>
        , the job can not be resumed because it finished before this resume request.
        </p>
      </div>
</div>
<!-- scripts -->
<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
<!--<script src="../dist/dagre-d3.js"></script>-->
<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
<script src="static/jquery-3.1.1.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="static/semantic/semantic.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g2-3.4.1/dist/g2.min.js"></script>
<!--<script src="static/d3-dag/index.js"></script>-->
<!-- <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script> -->
<!-- <script src="static/d3/d3.js"></script> -->
<!-- <script src="static/d3/d3-context-menu.js"></script> -->
<script src="static/rainbow/rainbow.min.js"></script>
<script src="static/rainbow/generic.js"></script>
<script src="static/rainbow/c.js"></script>
<script src="static/global.js"></script>
<script src="static/common.js"></script>
<script src="static/validate_form.js"></script>
<script src="static/throughputmonitor.js"></script>
<script src="static/cpumonitor.js"></script>
<script src="static/dagre-d3/dist/dagre-d3.js"></script>
<!-- <script src="static/dagre-d3/demo/tipsy.js"></script> -->
<script src="static/visual.js"></script>
</body>
</html>
